/*header*/
header{
    background: rgb(34,140,195);
    background: linear-gradient(0deg, rgba(34,140,195,1) 34%, rgba(104,45,253,1) 100%);
    display: flex;
}

nav{
    display: flex;
    width: 89%;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

nav a{
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 150%;
}

#logo{
    width: 5%;
    height: 5%;
    padding-left: 3%;
    padding-top: 10px;
}

/*main*/
.container{
    background: rgb(34,195,107);
    background: linear-gradient(0deg, rgba(34,195,107,1) 34%, rgba(34,140,195,1) 100%);
}

.izquierda{
    height: 900px;
    width:50%;
    display: inline-block;
    margin-left: 5%;
    min-width: 320px;
}

.text_area{
    width: 100%;
    height: 90%;
}

#alerta img{
    width: 16px;
    height: 16px;
}

#alerta{
    font-size: 18px;
    color: white;
    margin-left: 5%;
}

#insercion {
    width:90%;
    height: 50%;
    display: inline-block;
    font-family: "Times New Roman";
    font-size: 24px;
    color: white;
    resize: none;
    display: block;
    margin: 11% auto;
    border-color: black;
    border-width: 3px;
    background: none;
}

#insercion::placeholder{
    color: white;
    font-style: bold;
    font-size: 24px;
}

#label{
    color: white;
    font-size: 150%;
}

#desplazamiento {
    width:30%;
    height: 5%;
    display: inline-block;
    font-family: "Times New Roman";
    font-size: 24px;
    color: white;
    resize: none;
    margin: 11% auto;
    border-color: black;
    border-width: 3px;
    background: none;
}

#desplazamiento::placeholder{
    color: white;
    font-style: bold;
    font-size: 24px;
}

.separacion{
    width: 100%;
}

#diccionario, #seed, #nonce, #round{
    color: white;
    background-color: transparent;
    font-style: bold;
    font-size: 16px;
}

#diccionario::placeholder, #seed::placeholder, #nonce::placeholder, #round::placeholder{
    color: white;
    font-style: bold;
    font-size: 16px;
}

#banned{
    color: white;
    background-color: transparent;
    font-size: 16px;
    border: solid black;
}

#banned::placeholder{
    color: white;
    font-size: 16px;
}

#guia table td{
    color: white;
    border: solid black;
}

#codificador{
    width: 44%;
    height: 35%;
    padding: 24px;
    background-color: #0A3871;
    border-radius: 24px;
    font-family: "Helvetia";
    font-size: 150%;
    color: white;
    text-align: center;
    margin-left: 4%;
    
}

#decodificador{
    width: 44%;
    height: 35%;
    padding: 24px;
    background-color: white;
    border-radius: 24px;
    font-family: "Helvetia";
    font-size: 150%;
    color: darkblue;
    text-align: center;
    margin-left: 4%;
}

.derecha {
    width: 30%;
    min-width: 310px;
    height: 900px;
    display: inline-block;
    border-style: solid;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 20);
    border-radius: 32px;
}

#resultado {
    width: 80%;
    height: 85%;
    font-family: "Times New Roman";
    font-size: 150%;
    color: white;
    resize: none;
    border-style: none;
    margin: 3% auto;
    display: none;
    background: none;
}

#imagen_div{
    width: 100%;
    height: 87%;
}

#imagen{
    width: 100%;
    height: 30%;
    margin: 40% auto;
    margin-bottom: 10%;
}

#mensaje{
    width: 98%;
    height: 10%;
    font-family: "Helvetia";
    font-weight: bold;
    font-size: 180%;
    text-align: center;
    color: rgb(110, 4, 32);
    resize: none;
    border-style: none;
    margin-left: 1%;
    background: none;
}

#sugerencia{
    width: 98%;
    height: 10%;
    font-family: "Helvetia";
    font-size: 150%;
    color: rgb(110, 4, 32);
    text-align: center;
    resize: none;
    border-style: none;
    margin-left: 1%;
    background: none;
}

#copiar{
    width: 80%;
    height: 9%;
    padding: 24px;
    background-color: white;
    border-radius: 24px;
    font-family: "Helvetia";
    font-size: 22px;
    color: darkblue;
    text-align: center;
    display: block;
    margin: 3% auto;
    visibility: hidden;
}

/*footer*/
footer{
    height: 100px;
    background: rgb(104,45,253);
    background: linear-gradient(0deg, rgba(104,45,253,1) 28%, rgba(34,195,107,1) 100%);
}

td{
    border: solid;
}